<div class="plate mx-auto" id="cork">
  <span>Welcom!!</span>
</div>
<div class="home-box mx-auto my-3">
  <p class="home-text">
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
  <div class="slide">
    <div class="slide-item"><img class="slide-img" src="assets/7b408023d6181c5e833b800e23b1cb52_t.jpeg"></div>
  </div>
</div>


<div class="container new-item">
  <h2>新着商品</h2>
  <div class="row">
    <% @items.first(4).each do |item| %>
    <div class="col-md-3 col-sm-6">
      <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
        <%=link_to item_path(item) do %>
          <div class="img-wrap"><%= image_tag item.get_image(80,80), format: "jpeg", fallback: "default-image.jpeg"%></div>
        <% end %>
        <div class="card-body">
          <P class="card-text"><%= item.name %></P>
          <%# if item.sales_status == true %>
          <p class="card-text"><%= item.price %>円（税抜き）</p>
          <%# else %>
            <!--<P class="card-text text-banger">販売停止中</P>-->
          <%# end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="all-items-show-button"><%= link_to "全ての商品をみる", items_path %></div>
</div>