<div class="container mt-5 mb-5">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
      <%= image_tag @item.get_image(80,80), format: "jpeg", fallback: "default-image.jpeg" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 item-details mx-auto">
      <h2><strong><%= @item.name %></strong></h2>
      <h4><%= simple_format(@item.introduction) %></h4>
      <h3>￥<%= @item.change_price %>（税込）</h3>
      <div class="item\count-form text-right">
        <%= form_for @cart_item do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <span id="item-count">個数</span>
          <%= f.select :amount, *[1..1000], class: "item-count-select" %>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>